<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="FormPageTest">
       <classes>
           <class name="usingFramework.eComerceTest">
<!--               <methods>-->
<!--                   <exclude name=""></exclude>-->
<!--                   <include name=""></include>-->
<!--               </methods>-->
           </class>
       </classes>
   </test>
</suite> <!-- Suite -->